<style>
  body {
  font-family: Calibri;
  background-color: rgba(210, 105, 30, 0.798);
}
h1 {
  font-family: Arial;
  font-size: 50px;
  color: rgb(255, 0, 170);
}
.regpara {
  font-style: normal;
}
.italpara {
  font-style: italic;
}
.boldpara {
  font-weight: bold;
}
#div1 {
  width: 150px;
  height: 150px;
  text-align: center;
  background-color: #00eeff2b;
  position: relative;
  float: left
}
#output {
  font-family: Consolas;
  font-size: 20pt;
}
</style>
